<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>

<h1>MANO AUTOMOBILIO REMONTO ISTORIJA </h1>

<div>
    <div>
        <img src="https://img.freepik.com/free-photo/repair-man-making-car-service_1303-26870.jpg?w=996&t=st=1684445178~exp=1684445778~hmac=8d4552c69bc4e2e92b70543568cc730cdd6680c6e525a0c01c6d644c4de460ff"
             alt="https://www.freepik.com/"
             style="width:350px;height:250px;">
    </div>
  <h1>SĄRAŠAS:</h1>
  <div>
    <a href="http://localhost:8080/mycarhistory/all"> VISI ĮRAŠAI </a>
      <div>
      <a href="http://localhost:8080/mycarhistory/1"> VIENAS ĮRAŠAS </a>
      </div>

    </div>

    <h1>SĄRAŠAS SU FORMOMIS:</h1>

    </div>
<div>
    <div>
        <p><a href="http://localhost:8080/mycarhistorytemplate/firstpage/1"/>
            PAGAL ID (Open firstpage form with mycarhistory id 1) - SU STILIUMI
        </p>
        <p><a href="http://localhost:8080/mycarhistorytemplate/firstpage/all"/>
            VISAS SĄRAŠAS (Open mycarhistories list with firstpage_list form) - SU STILIUMI
        </p>
        <p><a href="http://localhost:8080/mycarhistorytemplate/mycarhistory/1"/>
            Open mycarhistory by id 1 with mycarhistory form - SU LENTELE NEATIDARO
        </p>
        <p><a href="http://localhost:8080/mycarhistorytemplate/mycarhistory/all"/>
            VISAS SĄRAŠAS (Open all mycarhistory with mycarhistory form) - SU LENTELE
        </p>


    </div>
</div>


<p></p>
</body>
</html>