<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<style>
p {
  text-align: center;
}

a:link, a:visited {
  background-color: #4682B4;
  color: white;
  padding: 10px 3px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: #708090;
}

</style>

<body>
<p>
<h1><p>MANO AUTOMOBILIO REMONTO ISTORIJA</p></h1>

<div>
    <div>
        <p>
        <img  src="https://img.freepik.com/free-photo/repair-man-making-car-service_1303-26870.jpg?w=996&t=st=1684445178~exp=1684445778~hmac=8d4552c69bc4e2e92b70543568cc730cdd6680c6e525a0c01c6d644c4de460ff"
             alt="https://www.freepik.com/"
             style="width:350px;height:250px;">
        </p>
    </div>
  <h1> <p>SĄRAŠAS: </p></h1>

  <div>
      <p><a href="http://localhost:8080/mycarhistory/all"> VISI ĮRAŠAI Json format all</a></p>
      <div>
          <p><a href="http://localhost:8080/mycarhistory/1"> VIENAS ĮRAŠAS Json format one stat</a></p>
      </div>

    </div>

    <h1><p>SĄRAŠAS SU FORMOMIS:</p></h1>

    </div>
<div>
    <div>
        <p><a href="http://localhost:8080/mycarhistory/firstpage/1"/>
            PAGAL ID (Open firstpage form with mycarhistory id 1) - SU STILIUMI</p>
        <p><a href="http://localhost:8080/mycarhistory/firstpage/all"/>
            VISAS SĄRAŠAS (Open mycarhistories list with firstpage_list form) - SU STILIUMI</p>
        <p><a href="http://localhost:8080/mycarhistory/mycarhistory/1"/>
            Open mycarhistory by id 1 with mycarhistory form - SU LENTELE NEATIDARO</p>
        <p><a href="http://localhost:8080/mycarhistory/mycarhistory/all"/>
            VISAS SĄRAŠAS (Open all mycarhistory with mycarhistory form) - SU LENTELE</p>
        <p><a href="http://localhost:8080/mycarhistory/mycarhistory/getandpost"/>
            DETALĖS PAIEŠKĄ (Search by part name) - NEVEIKIA DĖL NESUTVARKYTO POST</p>
        <p><a href="http://localhost:8080/mycarhistory/mycarhistory/expenses"/>
            ISLAIDOS</p>
        <p><a href="http://localhost:8080/mycarhistory/mycarhistory/all"/>
            ISLAIDU LENTA</p>
    </div>
</div>


</body>
</html>