<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link th:href="@{/styles/homepage/button.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="/static/styles/homepage/button.css"/>
</head>

<body>
<style>
    body {
        background-image: url("https://img.freepik.com/free-photo/repair-man-making-car-service_1303-26870.jpg?w=996&t=st=1684445178~exp=1684445778~hmac=8d4552c69bc4e2e92b70543568cc730cdd6680c6e525a0c01c6d644c4de460ff");
        background-repeat: no-repeat;
        background-size: cover;
    }


</style>

<div class="container">
    <h1 class="custom-heading">CAR REPAIR HISTORY</h1>
    <div>
        <div>
            <p>
                <a href="http://localhost:8080/mycarhistory/all" class="button">ADD OR DELETE EXPENSES</a>
            </p>
            <p>
                <a href="http://localhost:8080/mycarhistory/all1" class="button">ALL LISTS</a>
            </p>
            <p>
                <a href="http://localhost:8080/mycarhistory/1" class="button">ONE SAVED DATA REPORT BY
                    ID</a>
            </p>
            <p>
                <a href="http://localhost:8080/mycarhistory/getandpost" class="button">SEARCH FOR A CAR
                    PART</a>
            </p>
            <p>
                <a href="http://localhost:8080/mycarhistory/expenses" class="button">ALL EXPENSES</a>
            </p>
            <p>
                <a href="http://localhost:8080/mycarhistory/update/{id}" class="button">UPDATE SAVED DATA</a>
            </p>
        </div>
    </div>
</div>
</body>
</html>