<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <img src="https://img.freepik.com/free-photo/repair-man-making-car-service_1303-26870.jpg?w=996&t=st=1684445178~exp=1684445778~hmac=8d4552c69bc4e2e92b70543568cc730cdd6680c6e525a0c01c6d644c4de460ff"
         alt="https://www.freepik.com/"
         style="width:300px;height:300px;"
</div>
<h1>MANO AUTOMOBILIO REMONTO ISTORIJA </h1>
<h6>Testas h6 </h6>
<p>Servisas </p>


<div>
    <input id="someId value"/>
</div>
<div>
    <input id="checkBoxId" type="checkbox"/>
</div>




</body>
</html>