<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/styles/mycarhistories/table.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="/static/styles/mycarhistories/table.css"/>

</head>

<body>
<h2>ALL EXPENSES</h2>

<div class="table-wrapper">
    <table class="fl-table">
        <thead>
        <tr>
            <th class="th">Total parts cost:</th>
            <th class="th">Total service cost:</th>
            <th class="th">Total cost:</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="td" th:text="${carExpenses.totalPartsPrice}"></td>
            <td class="td" th:text="${carExpenses.totalRepairPrice}"></td>
            <td class="td" th:text="${carExpenses.totalPartsPrice + carExpenses.totalRepairPrice}"></td>
        </tr>

        </tbody>
    </table>
</div>
</body>
</html>